header{
	background: #cccccc;
	color: darkblue;
	text-align: center;
}

.info-item{
	margin: 0.5rem;
}

.hotel-card{
	padding: 1rem;
	flex: 1 18rem;
}

footer{
	background: #cccccc;
	color: darkblue;
}

.footer-item{
	padding: 1rem;
	flex: 1;
	text-align: center;
}
