
.jumbotron{
	grid-area: jumbotron;
	background: #cccccc;
	color: darkblue;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 55px;
	
}

.info-item{
	margin: 0.5rem;
	flex: 1 5rem;
}

.hotel-card{
	padding: 1rem;
	flex: 1 18rem;
}

footer{
	background: #cccccc;
	color: darkblue;
}

.footer-item{
	padding: 0rem 1rem;
	text-align: center;
}

.main-footer{
	display: flex;
	align-items: center;
	padding: 1rem 0rem;
}

main{
	margin: 1rem 0rem;
}

footer{
	height: 100px;
}